<h1>Listing site settings</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @settings.each do |setting| %>
      <%= form_for(setting, :url => site_setting_url(setting.var)) do |f| %>
          <tr>
            <td><%= setting.var %></td>
            <td><%= f.text_field :value %></td>
            <td><%= f.submit %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
