<h1>Listing bugs</h1>

<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Contact</th>
    <th>Version</th>
    <th>State</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @bugs.each do |bug| %>
      <tr>
        <td><%= link_to bug.description.truncate(64), bug %></td>
        <td><%= bug.contact %></td>
        <td><%= bug.version %></td>
        <td><%= get_state_name(bug.state) %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<%= page_entries_info @bugs %>
<%= will_paginate @bugs %>

<br>
<br>
<%= link_to 'New Bug', new_bug_path %>
