<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @bug.contact %>
</p>

<p>
  <strong>State:</strong>
  <%= get_state_name(@bug.state) %>
</p>

<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
